<div class="form">
    <h2>Meal Planner</h2>
    <form action="/scripts/searchForm.js">
        <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode" autofocus>
        <input type="submit" id="searchButton" value="Find Your Store!"/>
    </form>
</div>
