<div class="demo-card-wide mdl-card mdl-shadow--2dp form">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Find Your Store</h2>
    </div>
    <form action="/scripts/searchForm.js">
        <input type="text" id="zipcode" name="zipcode" placeholder="Zipcode" autofocus>
        <div class="mdl-card__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                    type="submit" id="searchButton">
                Search
            </button>
        </div>
    </form>
</div>