<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
