<header class="mdl-layout__header specials-header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">{{h2}}</span>
        <div class="mdl-layout-spacer"></div>
    </div>
</header>

<div class="hide-form
            form
            food
            demo-card-wide
            mdl-card
            mdl-shadow--2dp">
    <div class="mdl-card__title raspberries">
        <h2 class="mdl-card__title-text">Get Recipies</h2>
    </div>

    <input type="text"
           name="food"
           placeholder="Search" autofocus
           id="spoonacular-ingredients">

    <div class="mdl-card__actions">
        <button class="mdl-button
                           mdl-js-button
                           mdl-button--raised
                           mdl-button--accent"
                id="searchButton">
            Get Recipies
        </button>
    </div>

</div>

<div class="results-container hide">
    <div class="recipe-item" style="display:none">
        <div class="demo-card-square mdl-card mdl-shadow--2dp recipe-content">

            <div class="mdl-card__title mdl-card--expand">
                <img src="" alt="" class="recipe-photo">
            </div>
            <div class="mdl-card__supporting-text brown title">
            </div>

            <div class="action">
                <div class="action-content">
                    <div class="mdl-card__supporting-text brown">
                    </div>
                    <div class="mdl-card__supporting-text brown likes">
                        Likes:
                    </div>
                    <div class="mdl-card__supporting-text brown usedIngredientCount">
                        Used Ingredient Count:
                    </div>
                    <button class="mdl-button
                                           mdl-js-button mdl-button--raised
                                           mdl-button--accent">
                        Add to Meal Plan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var spoonacularServings = 1;
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://spoonacular.com/cdn/spoonacular-1.6.min.js"></script>

<script src="../scripts/searchRecipies.js"></script>