body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

.form {
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);

}

.form h2 {
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="zipcode"],
.form input[type="password"],
.form textarea,
.form select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.form input[type="zipcode"] {
    float: right;
}

.form input[type="zipcode"]::before {
    content: "*";
    float: right;
    color: red;
}

.form textarea {
    resize: none;
    overflow: hidden;
}

.form input[type="button"],
.form input[type="submit"] {
    -moz-box-shadow: inset 0 1px 0 0 #45D6D6;
    -webkit-box-shadow: inset 0 1px 0 0 #45D6D6;
    box-shadow: inset 0 1px 0 0 #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.form input[type="button"]:hover,
.form input[type="submit"]:hover {
    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color: #34CACA;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.demo-card-square.mdl-card {
    color: #804000;
    flex-direction: row;
    width: 250px;
    height: 350px;
    margin: 10px;
    box-shadow: 2px 2px 5px 2px rgba(128, 64, 0, 0.55);
    background: url(../images/paper.jpg) repeat;
}
.demo-card-square > .mdl-card__title > h3 {
    color: #804000;
    margin: -50px 0 10px 15px;
    width: 100%
}
h1.padding {
    color: #804000;
}
.mdl-card__actions > .mdl-button {
    color: #804000;
}

.padding {
    padding: 25px 0 0 16px;
}